<p>profilo-switch works!</p>

<div>
  <h2>Profilo Utente</h2>
  <label for="ruolo">Seleziona il tuo ruolo:</label>
  <select id="ruolo" [(ngModel)]="ruolo">
    <option value="admin">Admin</option>
    <option value="utente">Utente</option>
    <option value="ospite">Ospite</option>
  </select>
</div>

<div [ngSwitch]="ruolo">
  <div *ngSwitchCase="'admin'">
    <h3 [ngStyle]="{ 'background-color': ruolo ? 'blue' : 'pink' }">
      Ruolo: Admin
    </h3>
    <p [ngClass]="{ dtPerson: ruolo, notPerson: !ruolo }">
      Visualizzare i dati personali
    </p>
    <p>Modificare le impostazioni del sito</p>
    <p>Gestisci gli utenti</p>
  </div>

  <div *ngSwitchCase="'utente'">
    <h3 [ngStyle]="{ 'background-color': ruolo ? 'purple' : 'pink' }">
      Ruolo: Utente
    </h3>
    <p>Visualizzare i dati personali</p>
    <p>Modificare le impostazioni personali</p>
  </div>

  <div *ngSwitchCase="'ospite'">
    <h3 [ngStyle]="{ 'background-color': ruolo ? 'green' : 'pink' }">
      Ruolo: Ospite
    </h3>
    <p>Visualizzare i dati personali</p>
  </div>

  <div *ngSwitchDefault>
    <h3 [ngStyle]="{ 'background-color': ruolo ? 'purple' : 'pink' }">
      Nessun ruolo selezionato
    </h3>
    <p [ngClass]="{ dtPerson: ruolo, notPerson: !ruolo }">
      seleziona un ruolo per accedere ai tuoi permessi
    </p>
  </div>
</div>
