<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div>
    <label for="nome">Nome</label>
    <input
      [(ngModel)]="utente.nome"
      type="text"
      name="nome"
      id="nome"
      required
    />
  </div>
  <div>
    <label for="cognome">Cognome</label>
    <input
      [(ngModel)]="utente.cognome"
      type="text"
      name="cognome"
      id="cognome"
      required
    />
  </div>
  <div>
    <label for="email">E-mail</label>
    <input
      [(ngModel)]="utente.email"
      type="email"
      name="email"
      id="email"
      required
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      [(ngModel)]="utente.password"
      type="password"
      name="password"
      id="password"
      required
    />
  </div>

  <button type="submit">Invia</button>
</form>
